<div class="container pt-4 pr-4">
    <div class="row">
      <div class="col">        
        <h4 class="text-center mb-4">Vos informations personnelles</h4>
        <form [formGroup]="profileForm" (ngSubmit)="OnProfilChangeSubmit(profileForm.value)">
            <div class="form-group">
              <label for="firstname">Prénom</label>
              <input type="text" class="form-control" [formControl]="profileForm.controls['firstname']" placeholder="Prénom" value="" />
              <!-- Here goes validations errors messages -->
              <div *ngIf="profileForm.controls['firstname'].invalid && (profileForm.controls['firstname'].dirty || profileForm.controls['firstname'].touched)" class="alert alert-danger">
                <div *ngIf="profileForm.controls['firstname'].errors.required">
                  Le prénom est requis
                </div>
                <div *ngIf="profileForm.controls['firstname'].errors.minlength">
                  Le prénom doit comprendre au minimum {{profileForm.controls['firstname'].errors.minlength.requiredLength}} caractères.
                </div>  
                <div *ngIf="profileForm.controls['firstname'].errors.maxlength">
                  Le prénom doit comprendre au maximum {{profileForm.controls['firstname'].errors.maxlength.requiredLength }} caractères.
                </div>        
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">Nom</label>
              <input type="text" class="form-control" [formControl]="profileForm.controls['lastname']" placeholder="Nom" value="" />
              <!-- Here goes validations errors messages -->
              <div *ngIf="profileForm.controls['lastname'].invalid && (profileForm.controls['lastname'].dirty || profileForm.controls['lastname'].touched)" class="alert alert-danger">
                <div *ngIf="profileForm.controls['lastname'].errors.required">
                  Le nom est requis
                </div>
                <div *ngIf="profileForm.controls['lastname'].errors.minlength">
                  Le nom doit comprendre au minimum {{profileForm.controls['lastname'].errors.minlength.requiredLength}} caractères.
                </div>  
                <div *ngIf="profileForm.controls['lastname'].errors.maxlength">
                  Le nom doit comprendre au maximum {{profileForm.controls['lastname'].errors.maxlength.requiredLength }} caractères.
                </div>        
              </div>
            </div>
            <div class="form-group">
              <label for="birthDate">Date de naissance</label>
                <input type="date" class="form-control" [formControl]="profileForm.controls['birthDate']" placeholder="Date de naissance" value="" />
                <!-- Here goes validations errors messages -->
                <div *ngIf="profileForm.controls['birthDate'].invalid && (profileForm.controls['birthDate'].dirty || profileForm.controls['birthDate'].touched)" class="alert alert-danger">
                  <div *ngIf="profileForm.controls['birthDate'].errors.required">
                    La date de naissance est requise
                  </div>
                  <div *ngIf="profileForm.controls['birthDate'].errors?.minLength" class="alert alert-danger">
                    La date de naissance doit être supérieure à 1900.
                  </div>  
                  <div *ngIf="profileForm.controls['password'].errors?.maxLength" class="alert alert-danger">
                    La date de naissance doit être inférieur à la date d'aujourd'hui
                  </div>  
                </div>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Numéro de téléphone</label>
                <input type="text" class="form-control" [formControl]="profileForm.controls['phoneNumber']" placeholder="Numéro de téléphone" value="" />
                <!-- Here goes validations errors messages -->
                <div *ngIf="profileForm.controls['phoneNumber'].invalid && (profileForm.controls['phoneNumber'].dirty || profileForm.controls['phoneNumber'].touched)" class="alert alert-danger">
                  <div *ngIf="profileForm.controls['phoneNumber'].errors.required">
                    Le numéro de téléphone est requis
                  </div>
                  <div *ngIf="profileForm.controls['phoneNumber'].errors.minlength">
                    Le numéro de téléphone doit comprendre au minimum {{profileForm.controls['phoneNumber'].errors.minlength.requiredLength}} caractères.
                  </div>  
                  <div *ngIf="profileForm.controls['phoneNumber'].errors.maxlength">
                    Le numéro de téléphone doit comprendre au maximum {{profileForm.controls['phoneNumber'].errors.maxlength.requiredLength }} caractères.
                  </div>        
                </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" [formControl]="profileForm.controls['email']" placeholder="Adresse email" value="" />
              <!-- Here goes validations errors messages -->
              <div *ngIf="profileForm.controls['email'].invalid && (profileForm.controls['email'].dirty || profileForm.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="profileForm.controls['email'].errors.required">
                  L'email est requis.
                </div>
                <div *ngIf="profileForm.controls['email'].errors.minlength">
                  L'email doit comprendre au minimum {{profileForm.controls['email'].errors.minlength.requiredLength}} caractères.
                </div>  
                <div *ngIf="profileForm.controls['email'].errors.maxlength">
                  L'email doit comprendre au maximum {{profileForm.controls['email'].errors.maxlength.requiredLength }} caractères.
                </div>        
              </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" [formControl]="profileForm.controls['password']" placeholder="Mot de passe" value="" />
                <!-- Here goes validations errors messages -->
                <div *ngIf="(profileForm.controls['password'].dirty)">            
                  <div *ngIf="profileForm.controls['password'].errors?.minLength" class="alert alert-danger">
                    Le mot de passe doit comprendre au minimum 3 caractères.
                  </div>  
                  <div *ngIf="profileForm.controls['password'].errors?.maxLength" class="alert alert-danger">
                    Le mot de passe doit comprendre au maximum 50 caractères.
                  </div>       
                </div>          
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmation du mot de passe</label>
                <input type="password" class="form-control" [formControl]="profileForm.controls['confirmPassword']" placeholder="Confirmation du mot de passe" value="" />
                <!-- Here goes validations errors messages -->
                <div *ngIf="(profileForm.controls['confirmPassword'].dirty)">
                  <div *ngIf="profileForm.controls['confirmPassword'].errors?.minlength" class="alert alert-danger">
                    La confirmation du mot de passe doit comprendre au minimum 3 caractères.
                  </div>  
                  <div *ngIf="profileForm.controls['confirmPassword'].errors?.maxLength" class="alert alert-danger">
                    La confirmation du mot de passe doit comprendre au maximum 50 caractères.
                  </div>      
                  <div *ngIf="profileForm.controls['confirmPassword'].value != profileForm.controls['password'].value" class="alert alert-danger">
                    La confirmation du mot de passe doit correspondre au mot de passe.
                  </div>   
                </div>
            </div> 
            <div class="form-group centered text-center">
                <input type="submit" class="btnSubmit btn-danger pr-4 pl-4 pt-2 pb-2" value="Modifier mes informations " />
            </div>
            <div class="text-center">
              <span class=" centered text-center successUpdate pr-4 pl-4 pt-2 pb-2 mb-4" *ngIf="successUpdate">Information(s) correctement modifiée(s)</span>      
            </div>
          </form>
      </div>
    <div class="col">
      <app-Address [addresses]="this.getClientAddresses"></app-Address>
    </div>
    </div>
</div>