
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
          <div class="card-body">
            <h3 class="card-title text-center wineTextColor">Product Name</h3>
            <h4 class="wineTextColor text-center">$24.99</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
            <div class="text-center">
              <span class="text-warning ">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            </div>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header text-center wineTextColor">
            Commentaires
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Commentaire de Anonyme</small>
            <div class="text-right">
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
            </div>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Commentaire de Anonyme</small> 
            <div class="text-right">
              <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
            </div>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Commentaire de Anonyme</small>
            <div class="text-right">
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            </div>
            <hr>
            <div class="text-center">
              <a href="#" class="btn btn-success">Laisser un commentaire</a>
            </div>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 wineBackGroundColor">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Projet formation TechnofuturTIC - Net / Angular</p>
    </div>
    <!-- /.container -->
  </footer>