<nav class="navbar navbar-expand-lg navbar-dark wineBackGroundColor">
  <a class="navbar-brand" href="#">WineSelling</a>

  <div class="navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">        
        <a class="nav-link" routerLink="/accueil">Accueil</a>
      </li>
      <li class="nav-item active">        
        <a class="nav-link" routerLink="/details">Mon compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn bg-white my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>