footer {
    margin-top: 200px !important;
    clear: both;
    position: relative;
}
body {
    min-height: 100%;
}

.wineBackGroundColor {
    background-color: 	#00415a;
}

.wineTextColor {
    color: #00415a;
}

.successUpdate {
    background-color: #64B058;
    color:white;
    border-radius: 10px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color:#B5D3E7;
 }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
