<div class="row">
  <div class="col-md-12 pl-4">    
      <h4 class="text-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        Vos adresses
      </h4>
      
      <div *ngFor="let address of addresses; let index = index" class="bg-white card mb-4 border shadow">
          <div class="p-4" id="{{address.Id}}" *ngIf="!Clicked || UpdateShown">
              <h6 class="mb-1 text-secondary text-center">Adresse n°{{index + 1}}</h6>
              <p>
                {{address.Street}}, {{address.Number}}
              </p>
              <p>
                {{address.City.Country}},{{address.City.CityName}}, {{address.City.PostalCode}}
              </p>  
              <div class="d-flex flex-nowrap bd-highlight">
                <div class="order-1 p-2 bd-highlight"><button class="btn btn-primary border-light" (click)="toggleFormUpdate(addresses[index])" *ngIf="!UpdateShown">Modifier</button></div>
                <div class="order-2 p-2 bd-highlight"><button class="btn btn-danger border-light" *ngIf="!UpdateShown" (click)="RemoveAddress(address.Id)">Supprimer</button></div>
                <span *ngIf="isVisible" id="{{address.Id}}"></span>
              </div>
          </div>
          <!------------------------------------------------------------------------------------------------------------------------------->
          <div class="p-4" id="{{index}}" *ngIf="Clicked  && (ClickedIndex == address.Id || ClickedIndex == null)" >
            <h6 class="mb-1 text-secondary text-center">Modification de l'adresse n°{{index + 1}}</h6>
            <form [formGroup]="addressForm" (ngSubmit)="OnUpdate(address.Id,addressForm.value)">
              <div class="form-group">                           
                <select class="browser-default custom-select" #selectCountry (change)="setSelectedCountry(selectCountry)" [formControl]="addressForm.controls['country']">  
                  <option selected disabled></option>            
                  <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
                </select>
              </div>
              <div class="form-group"> 
                <select class="browser-default custom-select" #selectCity (change)="setSelectedCity(selectCity)" [formControl]="addressForm.controls['city']">
                  <option selected disabled></option>             
                  <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
                </select>   
              </div>
              <div class="form-group">           
                <select class="browser-default custom-select" [formControl]="addressForm.controls['postalCode']">        
                  <option selected disabled></option>      
                  <option *ngFor="let cp of postalCode" [ngValue]="cp">{{cp}}</option>
                </select>
              </div>
              <div class="form-group">           
                <input type="text" class="form-control" [formControl]="addressForm.controls['street']" placeholder="Rue" value="" />
              </div>
              <div class="form-group"> 
                <input type="text" class="form-control" [formControl]="addressForm.controls['number']" placeholder="Numéro" value="" />   
              </div>
              <div class="form-group centered">
                  <input type="submit" class="btnSubmit btn btn-success ml-4 border-light" value="Modifier"/>                       
                  <input type="button" class="btn btn-danger ml-4 border-light" value="Annuler" (click)="removeFormUpdate()"/>                
              </div>                        
            </form>
          </div>     
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
          
    <div class="text-center">
      <button class="btn btn-success border-light" (click)="AddformInsert()" *ngIf="!ClickedForInsert">Ajouter une nouvelle adresse</button> 
      <div class="bg-white card mb-4 border shadow  container" *ngIf="ClickedForInsert">        
        <h4 class="mb-1 text-secondary text-center p-4">Nouvelle adresse</h4>        
        <form [formGroup]="addressForm" (ngSubmit)="OnAdd()">
          <div class="form-group">           
            <select class="browser-default custom-select" #selectCountry (change)="setSelectedCountry(selectCountry)" [formControl]="addressForm.controls['country']">  
              <option selected disabled></option>            
              <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="browser-default custom-select" #selectCity (change)="setSelectedCity(selectCity)" [formControl]="addressForm.controls['city']">
              <option selected disabled></option>             
              <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
            </select>
          </div>          
          <div class="form-group">            
            <select class="browser-default custom-select" [formControl]="addressForm.controls['postalCode']">        
              <option selected disabled></option>      
              <option *ngFor="let cp of postalCode" [ngValue]="cp">{{cp}}</option>
            </select>
          </div>
          <div class="form-group">           
            <input type="text" class="form-control" [formControl]="addressForm.controls['street']" placeholder="Rue" value="" />
          </div>
          <div class="form-group"> 
            <input type="text" class="form-control" [formControl]="addressForm.controls['number']" placeholder="Numéro" value="" />   
          </div>
          <div class="form-group centered">
              <input type="submit" class="btnSubmit btn btn-success ml-4 border-light" value="Ajouter" (click)="AddAddressToUser(addressForm)" />                       
              <input type="button" class="btn btn-danger ml-4 border-light" value="Annuler" (click)="RemoveFormInsert()"/>                
          </div>                        
        </form>
      </div>
    </div>
    
  </div>
</div>