<div class="row">
  <div class="col-md-12 pl-4">    
      <h4 class="text-center mb-4">Vos adresses</h4>
      
      <div *ngFor="let address of addresses; let index = index" class="bg-white card mb-4 border shadow">
          <div class="p-4" id="{{address.Id}}" *ngIf="!Clicked || UpdateShown">
              <h6 class="mb-1 text-secondary text-center">Adresse n°{{index + 1}}</h6>
              <p>
                {{address.Street}}, {{address.Number}}
              </p>
              <p>
                {{address.City.Country}},{{address.City.CityName}}, {{address.City.PostalCode}}
              </p>  
              <div class="d-flex flex-nowrap bd-highlight">
                <div class="order-1 p-2 bd-highlight"><button class="btn btn-primary border-light" (click)="toggleFormUpdate(addresses[index])">Modifier</button></div>
                <div class="order-2 p-2 bd-highlight"><button class="btn btn-danger border-light">Supprimer</button></div>
              </div>
          </div>
          <div class="p-4" id="{{index}}" *ngIf="Clicked  && (ClickedIndex == address.Id || ClickedIndex == null)" >
            <h6 class="mb-1 text-secondary text-center">Adresse n°{{index + 1}}</h6>
            <form [formGroup]="addressForm" (ngSubmit)="OnUpdate(index,addressForm.value)">
              <div class="form-group">           
                <input type="text" class="form-control" [formControl]="addressForm.controls['country']" placeholder="Pays" value="" />
              </div>
              <div class="form-group"> 
                <input type="text" class="form-control" [formControl]="addressForm.controls['city']" placeholder="Ville" value="" />   
              </div>
              <div class="form-group">           
                <input type="text" class="form-control" [formControl]="addressForm.controls['street']" placeholder="Rue" value="" />
              </div>
              <div class="form-group"> 
                <input type="text" class="form-control" [formControl]="addressForm.controls['number']" placeholder="Numéro" value="" />   
              </div>
              <div class="form-group">           
                <input type="text" class="form-control" [formControl]="addressForm.controls['postalCode']" placeholder="Code postal" value="" />
              </div>
              <div class="form-group centered">
                  <input type="submit" class="btnSubmit btn btn-success ml-4 border-light" value="Modifier" *ngIf="(ClickedIndex == address.Id || ClickedIndex == null)" />                       
                  <input type="button" class="btn btn-danger ml-4 border-light" value="Annuler" (click)="removeFormUpdate()" *ngIf="(ClickedIndex == address.Id || ClickedIndex == null)"/>                
              </div>                        
            </form>
          </div>     
    </div>
          
    <div class="text-center">
      <button class="btn btn-success border-light" (click)="AddformInsert()" *ngIf="!ClickedForInsert">Ajouter une nouvelle adresse</button> 
      <div class="bg-white card mb-4 border shadow  container" *ngIf="ClickedForInsert">        
        <h4 class="mb-1 text-secondary text-center p-4">Nouvelle adresse</h4>        
        <form [formGroup]="addressForm" (ngSubmit)="OnAdd()">
          <div class="form-group">           
            <input type="text" class="form-control" [formControl]="addressForm.controls['country']" placeholder="Pays" value="" />
          </div>
          <div class="form-group"> 
            <input type="text" class="form-control" [formControl]="addressForm.controls['city']" placeholder="Ville" value="" />   
          </div>
          <div class="form-group">           
            <input type="text" class="form-control" [formControl]="addressForm.controls['street']" placeholder="Rue" value="" />
          </div>
          <div class="form-group"> 
            <input type="text" class="form-control" [formControl]="addressForm.controls['number']" placeholder="Numéro" value="" />   
          </div>
          <div class="form-group">           
            <input type="text" class="form-control" [formControl]="addressForm.controls['postalCode']" placeholder="Code postal" value="" />
          </div>
          <div class="form-group centered">
              <input type="submit" class="btnSubmit btn btn-success ml-4 border-light" value="Ajouter" />                       
              <input type="button" class="btn btn-danger ml-4 border-light" value="Annuler" (click)="RemoveFormInsert()"/>                
          </div>                        
        </form>
      </div>
    </div>
    
  </div>
</div>