
  <div class="container">

    <div class="row text-center">
      <a class="col-md-3 mt-4 mb-4 btn btn-outline-info" [ngClass]="noWineFilterActive ? 'filterActive' : ''" (click)="noWineFilter()">Tout les vins</a>
      <a class="col-md-3 mt-4 mb-4 btn btn-outline-info" [ngClass]="redWineFilterActive ? 'filterActive' : ''" (click)="filterRedWine()">Vin rouge</a>
      <a class="col-md-3 mt-4 mb-4 btn btn-outline-info" [ngClass]="whiteWineFilterActive ? 'filterActive' : ''" (click)="filterWhiteWine()">Vin blanc</a>
      <a class="col-md-3 mt-4 mb-4 btn btn-outline-info" [ngClass]="roseWineFilterActive ? 'filterActive' : ''" (click)="filterRoseWine()">Vin rosé</a>
    </div>

    <div class="row">

      <div class="col">

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let wine of filteredWineList; let index = index">
            <div class="card h-100">
              <a class="text-center">
              <img class="card-img-top pt-4" src="../../../assets/bouteilleRouge.jpg" (click)="goToDetailsPage(wine.id)" *ngIf="wine.category[0].categoryName == 'Vin rouge' ">
              <img class="card-img-top pt-4" src="../../../assets/bouteilleBlanc.jpg" (click)="goToDetailsPage(wine.id)" *ngIf="wine.category[0].categoryName == 'Vin blanc' ">
              <img class="card-img-top pt-4" src="../../../assets/bouteilleRosé.jpg" (click)="goToDetailsPage(wine.id)" *ngIf="wine.category[0].categoryName == 'Vin rosé' ">
              </a>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a class="card-link" (click)="goToDetailsPage(wine.id)">{{wine.wineName}}</a>
                </h4>
                <h5 class="text-center">{{wine.prices[0].priceWine}} €</h5>
                <p class="card-text">{{wine.description}}</p>
              </div>
              <div class="card-footer text-center">
                <div class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
              </div>
            </div>
          </div>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 wineBackGroundColor">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Projet formation TechnofuturTIC - Net / Angular</p>
    </div>
    <!-- /.container -->
  </footer>
