
  <div class="container">

    <div class="row text-center">
      <a href="#" class="col-md-4 mt-4 mb-4 btn btn-outline-info">Vin rouge</a>
      <a href="#" class="col-md-4 mt-4 mb-4 btn btn-outline-info">Vin blanc</a>
      <a href="#" class="col-md-4 mt-4 mb-4 btn btn-outline-info">Vin rosé</a>
    </div>

    <div class="row">

      <div class="col">

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let wine of wineList; let index = index">
            <div class="card h-100">
              <a class="text-center"><img class="card-img-top pt-4" src="../../../assets/bouteilleRouge.jpg"></a>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a href="#">{{wine.wineName}}</a>
                </h4>
                <h5 class="text-center">{{wine.prices[0].price}} €</h5>
                <p class="card-text">{{wine.description}}</p>
              </div>
              <div class="card-footer text-center">
                <div class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
              </div>
            </div>
          </div>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 wineBackGroundColor">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Projet formation TechnofuturTIC - Net / Angular</p>
    </div>
    <!-- /.container -->
  </footer>